
/* the  background -Design of the modal */
.slider-container {
    max-width: 33%;
    margin: 20px auto;
    text-align: center;
}

#slider-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2a763d;
    color: white;
    border: none;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.85);
   display: none;          /* Initial versteckt */
    justify-content: center
}

.modal-inhalt {
    margin: auto;
    display: block;
   max-width: 500px; /* Begrenzt die Breite auf Desktop */
    max-height: 80vh;
    margin-top: 5%;
    border-radius: 4px;
}

.schliessen {
    position: absolute;
    top: 1em;
    right: 35px;
    color: rgb(244, 208, 9);
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .slider-container {
        max-width: 100%;
    }
}